@model SocialApps.Models.ChangePasswordViewModel
@{
	ViewBag.Title = SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ManageChangePassword");
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@* ReSharper disable UnknownCssClass *@
<div class="panel panel-primary">
    <div class="panel-heading">
        <table style="width: 100%;">
            <tbody>
				<tr>
					<td style="width: 1%;">
						<div style="white-space: nowrap;">
							@Html.Partial("TopHomeButton")
						</div>
					</td>
					<td>
						<div id="ellipsisOwner">
							<div class="ellipsisInner" id="ellipsisInner">
								<span class="ellipsis">
									@Html.Raw(ViewBag.Title)
								</span>
							</div>
						</div>
					</td>
				</tr>
            </tbody>
        </table>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ManageOldPassword"), new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ManageNewPassword"), new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ManageConfirmPassword"), new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Html.Raw(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ManageChangePassword"))" class="btn btn-default" />
                </div>
            </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
    <div class="panel-footer">
        <div class="btn-group" role="group">
			@Html.Partial("BottomHomeButton")
        </div>
    </div>
</div>
@* ReSharper restore UnknownCssClass *@
