@model SocialApps.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
	ViewBag.Title = SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ManageExternalLogins");
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@* ReSharper disable UnknownCssClass *@
<div class="panel panel-primary">
    <div class="panel-heading">
        <table style="width: 100%;">
            <tbody>
				<tr>
					<td style="width: 1%;">
						<div style="white-space: nowrap;">
							@Html.Partial("TopHomeButton")
						</div>
					</td>
					<td>
						<div id="ellipsisOwner">
							<div class="ellipsisInner" id="ellipsisInner">
								<span class="ellipsis">
									@Html.Raw(ViewBag.Title)
								</span>
							</div>
						</div>
					</td>
				</tr>
            </tbody>
        </table>
    </div>
    <div class="panel-body">
        <p class="text-success">@ViewBag.StatusMessage</p>
        @{
            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
            if (loginProviders.Count() == 0)
            {
                @*
    <div>
        <p>
            Внешние службы проверки подлинности не настроены. В <a href="http://go.microsoft.com/fwlink/?LinkId=313242">этой статье</a>
            вы можете узнать о том, как в этом приложении ASP.NET настроить вход через внешние службы.
        </p>
    </div>
                *@
            }
            else
            {
                if (Model.CurrentLogins.Count > 0)
                {
                    <h4>@SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ManageRegisteredLogins")</h4>
                    <table class="table">
                        <tbody>
                            @foreach (var account in Model.CurrentLogins)
                            {
                                <tr>
                                    <td>@account.LoginProvider</td>
                                    <td>
                                        @if (ViewBag.ShowRemoveButton)
                                        {
                                            using (Html.BeginForm("RemoveLogin", "Manage"))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div>
                                                    @Html.Hidden("loginProvider", account.LoginProvider)
                                                    @Html.Hidden("providerKey", account.ProviderKey)
													<input type="submit" class="btn btn-default" value="@SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("Delete")" title="@Html.Raw(string.Format(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ManageDeleteLogin"), account.LoginProvider))" />
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            @: &nbsp;
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                if (Model.OtherLogins.Count > 0)
                {
                    using (Html.BeginForm("LinkLogin", "Manage"))
                    {
                        @Html.AntiForgeryToken()
                        <div id="socialLoginList">
                            <p>
                                @foreach (AuthenticationDescription p in Model.OtherLogins)
                                {
                                    <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="@Html.Raw(string.Format(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ManageLoginWith"), p.Caption))">@p.AuthenticationType</button>
                                }
                            </p>
                        </div>
                    }
                }
            }
        }
    </div>
    <div class="panel-footer">
        <div class="btn-group" role="group">
			@Html.Partial("BottomHomeButton")
        </div>
    </div>
</div>
@* ReSharper restore UnknownCssClass *@
