<!DOCTYPE html>
@*Все вложенные элементы должны растягиваться на полную высоту.*@
<html>
<head>
	<title>@ViewBag.Title</title>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	@Styles.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
	<!-- Optional theme -->
	@Styles.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
	@Styles.Render("https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
	<!-- Special styles -->
	@Styles.Render("~/Content/Site.css")
	@Styles.Render("~/Content/AppMenu.css")

	@Scripts.Render("https://code.jquery.com/jquery-1.12.4.js")
	@Scripts.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
	@Scripts.Render("https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js")
	@Scripts.Render("~/Scripts/jquery.highlight-4.closure.js")
	@Scripts.Render("~/Scripts/jquery.highlight-4.js")
	@Scripts.Render("~/Scripts/Common.js")
	@Scripts.Render("~/Scripts/sjcl.js")
	<meta name="viewport" content="width=device-width, initial-scale=1">
	@* Calculator *@
	<script type="text/javascript" src="/Scripts/calc/src/main/js/bigdecimal.js"></script>
	<script type="text/javascript" src="/Scripts/calc/src/main/js/calc.js"></script>
	<link rel="stylesheet" media="screen, print, handheld" type="text/css" href="/Scripts/calc/src/main/js/calc.css" />
	@* Bootstrap FileStyle *@
	<script type="text/javascript" src="/Scripts/filestyle/src/bootstrap-filestyle.min.js"></script>
	@* PickMeUp *@
	<script type="text/javascript" src="/Scripts/pickmeup/js/jquery.pickmeup.twitter-bootstrap.js"></script>
	<script type="text/javascript" src="/Scripts/pickmeup/dist/pickmeup.min.js"></script>
</head>
<body>
	<div class="page full-height">
		<div id="main" class="full-height">
			@RenderBody()
		</div>
	</div>
	@RenderSection("scripts", false)
</body>
</html>
