
@{
	var chartTabId = ViewBag.ChartTabId;
	var diagramContainerId = ViewBag.DiagramContainerId;
	var diagramId = ViewBag.DiagramId;

	<div id="@Html.Raw(chartTabId)" style="margin-top: 8px;">
		<div style="display: inline-block; margin-top: 8px;">
			<div class="panel-body" id="@Html.Raw(diagramContainerId)">
				<img id="@Html.Raw(diagramId)" src="" alt="@Html.Raw(ViewBag.Title)" onload="updateParentHeight();" />
			</div>
		</div>
		<div class="panel-body">
			<script>
			imageURL.push({
				pie: true,
				url: '@Url.Action(ViewBag.ChartActionName, "Mobile", new { currencyGroupId = ViewBag.CurrencyGroupId, timestamp = DateTime.Now.Ticks })',
				diagramId: '@Html.Raw(diagramId)',
				diagramContainerId: '@Html.Raw(diagramContainerId)'
			});
			</script>
			<div class="btn-group">
				@* Timestamp parameter is added to overcome image caching. *@
				<button type="button" class="btn btn-default" onclick="updateDiagramURL(false, '@Url.Action(ViewBag.ChartActionName, "Mobile", new { currencyGroupId = ViewBag.CurrencyGroupId, timestamp = DateTime.Now.Ticks })', '@Html.Raw(diagramId)', '@Html.Raw(diagramContainerId)');">
					@Html.Raw(Resources.Resources.Bar)
				</button>
				<button type="button" class="btn btn-default" onclick="updateDiagramURL(true, '@Url.Action(ViewBag.ChartActionName, "Mobile", new { currencyGroupId = ViewBag.CurrencyGroupId, timestamp = DateTime.Now.Ticks })', '@Html.Raw(diagramId)', '@Html.Raw(diagramContainerId)');">
					@Html.Raw(Resources.Resources.Pie)
				</button>
			</div>
		</div>
	</div>

	<div style="margin-left: 16px;">
		<div class="month_calendar">
		</div>

		<div>
			<button type="submit" class="btn btn-default" aria-label="@Html.Raw(Resources.Resources.Refresh)">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
			</button>
			<span class="label label-info" style="visibility: hidden; margin-left: 8px;" id="warning"></span>
		</div>
	</div>
}