@using System.Web.Security.AntiXss
@using SocialApps.Models
@using System.Web.Configuration
@using System.Configuration

@model SocialApps.Models.NewExpense

@using (Html.BeginForm("UploadDoc", "Mobile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<table class="table">
		<tbody>
			<tr>
				<th>
					@Html.Raw(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("UploadedDocuments"))
				</th>
			</tr>
			@if (ViewBag.Links != null)
			{
				foreach (var link in ((List<LinkModel>)ViewBag.Links))
				{
					<tr>
						<td><a href="#" onclick="window.location.href='@Url.Action("Document", "Mobile", new { linkId = link.Id })';">@Html.Raw(AntiXssEncoder.HtmlEncode(link.Name, false))</a></td>
					</tr>
				}
			}
		</tbody>
	</table>
	<hr />
	<div>
		<input type="file" class="filestyle" data-text="@SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("SelectFile")" data-input="false" data-iconName="glyphicon-open-file" data-btnClass="btn-default" style="display: inline-block;" />

		<button type="submit" class="btn btn-default" aria-label="@SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("Upload")" style="float: right; position: relative; ">
			<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
		</button>
	</div>
	<div style="margin-top: 20px;">
		<em>@Html.Raw(string.Format(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("MaxFileSize"), (ConfigurationManager.GetSection("system.web/httpRuntime") as HttpRuntimeSection).MaxRequestLength / 1024))</em>
	</div>
}
