@{
	ViewBag.Title = Resources.Resources.AboutTitle;
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@* ReSharper disable UnknownCssClass *@
<div class="panel panel-primary">
	<div class="panel-heading">
		<table style="width: 100%;">
			<tbody>
				<tr>
					<td style="width: 1%;">
						<div style="white-space: nowrap;">
							@Html.Partial("TopHomeButton")
						</div>
					</td>
					<td>
						<div id="ellipsisOwner">
							<div class="ellipsisInner" id="ellipsisInner">
								<span class="ellipsis">
									@Html.Raw(ViewBag.Title)
								</span>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-body">
		@Html.Raw(Resources.Resources.AboutThanks)
		<br/>
		<br />
		@* https://www.evernote.com/shard/s132/nl/14501366/457e353a-8a54-4d6f-937a-ee6713f030b3 *@
		@Html.Raw(Resources.Resources.AboutForMoreInfo)
		<br />
		<br />
		@Html.Raw(Resources.Resources.AboutYouCanUseTheApp)
		<ul>
			<li>
				@Html.Raw(Resources.Resources.AboutFromMobileDevice)&nbsp;<strong><a href="https://xpnss.azurewebsites.net" target="_blank">xpnss.azurewebsites.net</a></strong>
			</li>
			<li>
				@Html.Raw(Resources.Resources.AboutFromFacebook)&nbsp;<strong><a href="https://apps.facebook.com/xpenses/" title="Expenses at Facebook" target="_blank">apps.facebook.com/xpenses</a></strong>
			</li>
		</ul>
		<div class="well">
			Copyright &copy; @Html.Partial("Year") Dmitry Morozov&nbsp;
			<a href="https://ru.linkedin.com/pub/dmitry-morozov/59/90a/794/ru" target="_blank">
				<img src="/Content/linkedin.png" />
			</a>&nbsp;<a href="https://www.facebook.com/profile.php?id=100004082021870" target="_blank">
				<img src="/Content/facebook.png" />
			</a>
			<br />Rev. @Html.Partial("Build")
			<br />Last updated @Html.Partial("Date")
		</div>
	</div>
	@Html.Partial("Advertising")
	<div class="panel-footer">
		<div class="btn-group" role="group">
			@Html.Partial("BottomHomeButton")
		</div>
	</div>
</div>
@* ReSharper restore UnknownCssClass *@
