@*https://www.evernote.com/shard/s132/nl/14501366/8334c8f9-2fe0-4178-9d7d-8ae6785318a7*@
@using SocialApps.Models
@{
	ViewBag.Title = Resources.Resources.BalanceTitle;
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<script type="text/javascript">
	@*	Constructing array of data which are used to build graphs.
		Variable must have the same name as on other pages. *@
	var imageURL = [];
</script>
@* ReSharper disable UnknownCssClass *@
<div class="panel panel-primary">
	<div class="panel-heading">
		<table style="width: 100%;">
			<tbody>
				<tr>
					<td style="width: 1%;">
						<div style="white-space: nowrap;">
							@Html.Partial("TopHomeButton")
						</div>
					</td>
					<td>
						<div id="ellipsisOwner">
							<div class="ellipsisInner" id="ellipsisInner">
								<span class="ellipsis">
									@Html.Raw(ViewBag.Title)
								</span>
							</div>
						</div>
					</td>
					<td style="width: 1%;">
						@{
							<span class="badge pull-right" style="margin: 8px 0;">@Html.Raw(string.Format(Resources.Resources.LastYears, (int)Session["LastMonthNumber"] / 12))</span>
						}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-body">
		<div>
			<div class="btn-group">
				<button type="button" class="@Html.Raw((int)Session["LastMonthNumber"] == 12 ? "btn btn-default" : "btn btn-default")" aria-label="@Html.Raw(Resources.Resources.Year1)" onclick="window.location.href='@Url.Action("Balance", "Mobile", new { lastMonthNumber = 12 })';">@Html.Raw(Resources.Resources.Year1Short)</button>
				<button type="button" class="@Html.Raw((int)Session["LastMonthNumber"] == 24 ? "btn btn-default" : "btn btn-default")" aria-label="@Html.Raw(Resources.Resources.Year2)" onclick="window.location.href='@Url.Action("Balance", "Mobile", new { lastMonthNumber = 24 })';">@Html.Raw(Resources.Resources.Year2Short)</button>
				<button type="button" class="@Html.Raw((int)Session["LastMonthNumber"] == 60 ? "btn btn-default" : "btn btn-default")" aria-label="@Html.Raw(Resources.Resources.Year5)" onclick="window.location.href='@Url.Action("Balance", "Mobile", new { lastMonthNumber = 60 })';">@Html.Raw(Resources.Resources.Year5Short)</button>
				<button type="button" class="@Html.Raw((int)Session["LastMonthNumber"] == 120 ? "btn btn-default" : "btn btn-default")" aria-label="@Html.Raw(Resources.Resources.Year10)" onclick="window.location.href='@Url.Action("Balance", "Mobile", new { lastMonthNumber = 120 })';">@Html.Raw(Resources.Resources.Year10Short)</button>
			</div>
		</div>
		<div style="text-align: center;">
			<div class="panel panel-default" style="display: inline;">

				@* Add tab headers. *@
				@{
					var currencyGroups = (CurrencyGroup[])ViewBag.CurrencyGroups;
					var tableTabPrefix = "table_tab_";
					var chartTabPrefix = "chart_tab_";
					ViewBag.TabPrefix = tableTabPrefix;
					ViewBag.ChartActionName = "GetBalanceChartContentWh";
				}

				@Html.Partial("CurrencyTabs")

				@* Add tab content. *@
				<div class="tab-content">
					<div class="panel-heading">@Html.Raw(string.Format(Resources.Resources.BalanceByMonth, (int)Session["LastMonthNumber"] / 12))</div>
					@{
						if (currencyGroups.Count() != 0)
						{
							for (var i = 0; i < currencyGroups.Count(); i++)
							{
								var tabClass = (i == 0) ? "tab-pane fade in active" : "tab-pane fade";
								var tableContainerId = "table_container_" + currencyGroups[i].GroupId.ToString();
								var tableTabId = tableTabPrefix + currencyGroups[i].GroupId.ToString();
								var diagramId = "diagram_" + currencyGroups[i].GroupId.ToString();
								var diagramContainerId = "diagram_container_" + currencyGroups[i].GroupId.ToString();

								<div class="@Html.Raw(tabClass)" id="@Html.Raw(tableTabId)" style="margin-top: 8px;">
									<div style="display: inline-block; margin-top: 8px;">
										<div class="panel-body" id="@Html.Raw(tableContainerId)">
											@{
												var list = ((List<LastYearBalanceByMonthByUser>)Session["LastYearBalanceResult"]).Where(t => t.GROUPID1 == currencyGroups[i].GroupId).ToList();
												if (list.Count() != 0)
												{
													<script>
													imageURL.push({
														pie: true,
														url: '@Url.Action(ViewBag.ChartActionName, "Mobile", new { currencyGroupId = currencyGroups[i].GroupId, timestamp = DateTime.Now.Ticks })',
														diagramId: '@Html.Raw(diagramId)',
														diagramContainerId: '@Html.Raw(diagramContainerId)'
													});
													</script>

													<div class="panel-body" id="@Html.Raw(diagramContainerId)">
														<img id="@Html.Raw(diagramId)" src="" alt="@Html.Raw(ViewBag.Title)" onload="updateParentHeight();" />
													</div>
												}
											}
										</div>
									</div>
								</div>
							}
						}
						@Html.Partial("Tags")
						<div class="panel-footer">
							@Html.Partial("BottomHomeButton")
						</div>
					}
				</div>
				@* ReSharper restore UnknownCssClass *@
			</div>
		</div>
	</div>
</div>