@*https://www.evernote.com/shard/s132/nl/14501366/89c5640f-d270-462e-a494-4db32a6c8c01*@
@using SocialApps.Controllers
@using SocialApps.Models
@{
	ViewBag.Title = Resources.Resources.DayExpensesTitle;
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
@using (Html.BeginForm("DayExpenses", "Mobile"))
{
	@Html.Hidden("Day", (int)Session["Day"])
	@Html.Hidden("Month", (int)Session["Month"])
	@Html.Hidden("Year", (int)Session["Year"])

	@* ReSharper disable UnknownCssClass *@
	<div class="@Html.Raw("panel " + (ViewBag.AddReceipt ? "panel-warning" : "panel-primary"))">
		<div class="panel-heading">
			<table style="width: 100%;">
				<tbody>
					<tr>
						<td style="width: 1%;">
							<div style="white-space: nowrap; display: inline-block; margin-right: 20px;">
								@Html.Partial("TopLockIcon")
								@Html.Partial("TopHomeButton")
								@Html.Partial("TopAddExpenseButton")
							</div>
						</td>
						<td>
							<div id="ellipsisOwner">
								<div class="ellipsisInner" id="ellipsisInner">
									<span class="ellipsis">
										@Html.Raw((string)(ViewBag.Title).Trim())
									</span>
								</div>
							</div>
						</td>
						<td style="width: 1%;">
							<span class="badge pull-right">@Html.Raw(MobileController.TotalsToStringSession(ViewContext.Controller))</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-9">
					@if (ViewBag.TodayExpenses != null)
					{
						var todayExpenses = (List<TodayExpense>)ViewBag.TodayExpenses;
						//	https://github.com/dvmorozov/expenses/issues/134
						//	Receipt expenses if present are displayed at the top of page.
						var receiptIds = (List<int>)Session["AddReceiptExpenseIds"];
						if (receiptIds != null)
						{
							//	Selects expenses belonging to the receipt.
							var receiptExpenses = from expense in todayExpenses
												  where receiptIds.Contains(expense.ID)
												  select expense;
							ViewBag.AccordionExpenses = receiptExpenses;
							ViewBag.InReceipt = true;
							@Html.Partial("ExpenseAccordion")
							//	Selects expenses not belonging to the receipt.
							var otherExpenses = from expense in todayExpenses
												where !receiptIds.Contains(expense.ID)
												select expense;
							ViewBag.AccordionExpenses = otherExpenses;
							ViewBag.InReceipt = false;
							@Html.Partial("ExpenseAccordion")
						}
						else
						{
							//	If receipt is not defined displays everything in single list.
							ViewBag.AccordionExpenses = ViewBag.TodayExpenses;
							@Html.Partial("ExpenseAccordion")
						}
					}
				</div>
				<div class="col-md-3">
					<div>
						<div style="display: inline-block;">
							<div class="panel panel-default">
								<div class="panel-heading">@Html.Raw(Resources.Resources.Date)</div>
								<div class="panel-body">
									<div class="single"></div>
								</div>
							</div>
						</div>
						<div>
							<table>
								<tbody>
									<tr>
										<td>
											<button type="submit" class="btn btn-default tooltipButton" aria-label="@Html.Raw(Resources.Resources.Refresh)" data-toggle="tooltip" data-placement="top" title="@Html.Raw(Resources.Resources.Refresh)">
												<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
											</button>
										</td>
										<td style="text-align: left;">
											<span class="label label-info" style="margin-left: 8px; visibility: hidden" id="warning"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		@Html.Partial("Tags")
		<div class="panel-footer">
			@Html.Partial("BottomHomeButton")
			<button type="button" class="btn btn-default" aria-label="@Html.Raw(Resources.Resources.Add)" onclick="window.location.href='@Url.Action("SelectCategory", "Mobile")';">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	@* ReSharper restore UnknownCssClass *@
}
