@model SocialApps.Models.CategoryModel

@{
	ViewBag.Title = Resources.Resources.EditCategoryTitle;
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@* ReSharper disable UnknownCssClass *@
<div class="panel panel-primary">
	<div class="panel-heading">
		<table style="width: 100%;">
			<tbody>
				<tr>
					<td style="width: 1%;">
						<div style="white-space: nowrap;">
							@Html.Partial("TopLockIcon")
							@Html.Partial("TopHomeButton")
						</div>
					</td>
					<td>
						<div id="ellipsisOwner">
							<div class="ellipsisInner" id="ellipsisInner">
								<span class="ellipsis">
									@Html.Raw(ViewBag.Title)
								</span>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-body">
		@using (Html.BeginForm("EditCategory", "Mobile")) {
			@Html.ValidationSummary(true)
			@Html.HiddenFor(m => m.Id)

			@* https://www.evernote.com/shard/s132/nl/14501366/5ea53405-2fc4-4166-a9e3-e918f3583785 *@
			@Html.Hidden("EncryptedName", Model.EncryptedName)

			<div class="editor-label">
				@Html.LabelFor(m => m.Name, Resources.Resources.Name)
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.Name)
				@Html.ValidationMessageFor(m => m.Name)
				@if (Model.EncryptedName != null && Model.EncryptedName != string.Empty)
				{ 
					<script>
						(function () { decryptData('Name', '@Html.Raw(Model.EncryptedName)') })();
					</script>
				}
			</div>

			<div class="editor-label">
				@Html.LabelFor(m => m.Limit, Resources.Resources.Budget)
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.Limit)
				@Html.ValidationMessageFor(m => m.Limit)
			</div>

			<br/>
			<input class="btn btn-default" type="submit" value="@Html.Raw(Resources.Resources.Save)" onclick="encryptData('Name', 'EncryptedName'); document.forms['NewCategory'].submit(); return true;" />
		}
	</div>
</div>
@Html.Partial("Tags")
@* ReSharper restore UnknownCssClass *@
