@*https://www.evernote.com/shard/s132/nl/14501366/8334c8f9-2fe0-4178-9d7d-8ae6785318a7*@
@using System.Globalization
@using SocialApps.Models
@using SocialApps.Controllers
@{
	var dt = new DateTime((int)Session["Top10Year"], (int)Session["Top10Month"], 1);
	ViewBag.Title = Resources.Resources.ImportanceReportTitle + " " + dt.ToString("MMM yyyy");
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<script type="text/javascript">
	@*	Constructing array of data which are used to build graphs.
		Variable must have the same name as on other pages. *@
	var imageURL = [];
</script>

@* ReSharper disable UnknownCssClass *@
@using (Html.BeginForm("Importance", "Mobile"))
{
	@Html.Hidden("Month", "")
	@Html.Hidden("Year", "")

	<div class="panel panel-primary">
		<div class="panel-heading">
			<table style="width: 100%;">
				<tbody>
					<tr>
						<td style="width: 1%;">
							<div style="white-space: nowrap;">
								@Html.Partial("TopLockIcon")
								@Html.Partial("TopHomeButton")
							</div>
						</td>
						<td>
							<div id="ellipsisOwner">
								<div class="ellipsisInner" id="ellipsisInner">
									<span class="ellipsis">
										@Html.Raw(ViewBag.Title)
									</span>
								</div>
							</div>
						</td>
						<td style="width: 1%;">
							@{
								<span class="badge pull-right" style="margin: 8px 0;">
									@Html.Raw(@*dt.ToString("MMM yyyy")*@dt.ToString("MMM") + " | " + (int)ViewBag.MonthTotal)
								</span>
							}
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="panel-body">
			@* Add tab headers. *@
			@{
				var currencyGroups = (CurrencyGroup[])ViewBag.CurrencyGroups;
				var tableTabPrefix = "table_tab_";
				var chartTabPrefix = "chart_tab_";
				ViewBag.TabPrefix = tableTabPrefix;
				ViewBag.ChartActionName = "GetImportanceChartContentWh";
			}

			@Html.Partial("CurrencyTabs")

			<div class="row">
				@* Add tab content. *@
				<div class="tab-content">
					@{
						@* https://github.com/dvmorozov/expenses/issues/138 *@
						TempData["MonthCalendarIndex"] = null;
						if (currencyGroups.Count() != 0)
						{
							for (var i = 0; i < currencyGroups.Count(); i++)
							{
								var tabClass = (i == 0) ? "tab-pane fade in active" : "tab-pane fade";
								var tableContainerId = "table_container_" + currencyGroups[i].GroupId.ToString();
								var tableTabId = tableTabPrefix + currencyGroups[i].GroupId.ToString();
								ViewBag.DiagramId = "diagram_" + currencyGroups[i].GroupId.ToString();
								ViewBag.DiagramContainerId = "diagram_container_" + currencyGroups[i].GroupId.ToString();
								ViewBag.ChartTabId = chartTabPrefix + currencyGroups[i].GroupId.ToString();
								ViewBag.CurrencyGroupId = currencyGroups[i].GroupId;

								<div class="@Html.Raw(tabClass)" id="@Html.Raw(tableTabId)" style="margin-top: 8px;">
									<div style="display: inline-block; margin-top: 8px;">
										<div class="panel-body" id="@Html.Raw(tableContainerId)">
											<div class="col-md-9">
												@{
													var list = ((List<MonthImportance>)Session["ImportanceResult"]).Where(t => t.GROUPID1 == currencyGroups[i].GroupId).ToList();
													if (list.Count() != 0)
													{
														<table class="table">
															<tbody>
																<tr>
																	<th>#</th>
																	<th style="width: 100%;">@Html.Raw(Resources.Resources.Importance)</th>
																	<th>@Html.Raw(Resources.Resources.Spent)</th>
																</tr>
																@for (var index = 0; index < list.Count(); index++)
																{
																	var cat = list[index];

																	@* https://www.evernote.com/shard/s132/nl/14501366/a6faca57-602d-44d8-ba4a-94ce5054a642 *@
																	<tr class="trlist" onclick="window.location.href = '@Url.Action("ExpensesByImportance", "Mobile", new { importance = cat.Importance })';">
																		<td>
																			@Html.Raw((index + 1).ToString(CultureInfo.InvariantCulture))
																		</td>
																		<td>
																			@Html.Raw(MobileController.ImportanceToString(cat.Importance))
																		</td>
																		<td>
																			@Html.Raw(Math.Floor(cat.Sum).ToString(CultureInfo.InvariantCulture))
																		</td>
																	</tr>
																}
															</tbody>
														</table>
													}
												}
											</div>
											<div class="col-md-3">
												@Html.Partial("ChartColumn")
											</div>
										</div>
									</div>
								</div>
							}
						}
						else
						{
							<span class="label label-info">@Html.Raw(Resources.Resources.NoExpenseFound + " " + (int)Session["Top10Year"] + "-" + string.Format("{0:D2}", (int)Session["Top10Month"]))</span>
							<br />
						}
					}
				</div>
			</div>
		</div>

		<div class="panel-footer">
			@Html.Partial("BottomHomeButton")
		</div>

		@Html.Partial("Advertising")
	</div>
	@* ReSharper restore UnknownCssClass *@
}
