@*https://www.evernote.com/shard/s132/nl/14501366/8334c8f9-2fe0-4178-9d7d-8ae6785318a7*@
@using System.Globalization
@using SocialApps.Models
@using SocialApps.Repositories

@{
	var dt = new DateTime((int) Session["Top10Year"], (int) Session["Top10Month"], 1);
	ViewBag.Title = Resources.Resources.ImportanceReportTitle + " " + dt.ToString("MMM yyyy");
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<script type="text/javascript">
	//  Constructing basic URL which is used from updateDiagram.
	var imageURL = '@Url.Action("GetImportanceChartContentWh", "Mobile", new { timestamp = DateTime.Now.Ticks })';
</script>

@* ReSharper disable UnknownCssClass *@
@using (Html.BeginForm("Importance", "Mobile"))
{
	@Html.Hidden("Month", "")
	@Html.Hidden("Year", "")

	<div class="panel panel-primary">
		<div class="panel-heading">
			<table style="width: 100%;">
				<tbody>
					<tr>
						<td style="width: 1%;">
							<div style="white-space: nowrap;">
								@Html.Partial("TopLockIcon")
								@Html.Partial("TopHomeButton")
							</div>
						</td>
						<td>
							<div id="ellipsisOwner">
								<div class="ellipsisInner" id="ellipsisInner">
									<span class="ellipsis">
										@Html.Raw(ViewBag.Title)
									</span>
								</div>
							</div>
						</td>
						<td style="width: 1%;">
							@{
								<span class="badge pull-right" style="margin: 8px 0;">@Html.Raw(@*dt.ToString("MMM yyyy")*@dt.ToString("MMM") + " | " + (int)ViewBag.MonthTotal)</span>
							 }
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-9">
					@{
						var list = (List<MonthImportance>)Session["ImportanceResult"];
						if (list.Count() != 0)
						{
							<table class="table">
								<tbody>
									<tr>
										<th>#</th>
										<th style="width: 100%;">@Html.Raw(Resources.Resources.Importance)</th>
										<th>@Html.Raw(Resources.Resources.Spent)</th>
									</tr>

									@for (var index = 0; index < list.Count(); index++)
									{
										var cat = list[index];

										@* https://www.evernote.com/shard/s132/nl/14501366/a6faca57-602d-44d8-ba4a-94ce5054a642 *@
										<tr class="trlist" onclick="window.location.href = '@Url.Action("ExpensesByImportance", "Mobile", new { importance = cat.Importance })';">
											<td>
												@Html.Raw((index + 1).ToString(CultureInfo.InvariantCulture))
											</td>
											<td>
												@{
													var importance = Resources.Resources.Necessary;
													switch((ExpenseImportance)cat.Importance)
													{
														case ExpenseImportance.Liability:
															importance = Resources.Resources.Liability;
															break;
															
														case ExpenseImportance.Asset:
															importance = Resources.Resources.Asset;
															break;
															
														case ExpenseImportance.Necessary:
															importance = Resources.Resources.Necessary;
															break;
															
														case ExpenseImportance.Pleasure:
															importance = Resources.Resources.Pleasure;
															break;
															
														case ExpenseImportance.Unnecessary:
															importance = Resources.Resources.Unnecessary;
															break;
													}
												}

												@Html.Raw(importance)
											</td>
											<td>
												@Html.Raw(Math.Floor(cat.Sum).ToString(CultureInfo.InvariantCulture))
											</td>
										</tr>
									}
								</tbody>
							</table>
						}
						else
						{
							<span class="label label-info">@Html.Raw(Resources.Resources.NoExpenseFound + " " + (int)Session["Top10Year"] + "-" + string.Format("{0:D2}", (int)Session["Top10Month"]))</span>
							<br />
						}
					}
				</div>
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading">@Html.Raw(ViewBag.Title)</div>
						<div class="panel-body" id="diagram_container">
							<img id="diagram" src="" alt="@Html.Raw(ViewBag.Title)" onload="updateParentHeight();" />

							<div class="month_calendar"></div>
						</div>
					</div>
					<div>
						<table>
							<tbody>
								<tr>
									<td>
										<div class="btn-group">
											<button type="button" class="btn btn-default" onclick="updateDiagram(false);">@Html.Raw(Resources.Resources.Bar)</button>
											<button type="button" class="btn btn-default" onclick="updateDiagram(true);">@Html.Raw(Resources.Resources.Pie)</button>
										</div>
										<button type="submit" class="btn btn-default tooltipButton" aria-label="@Html.Raw(Resources.Resources.Refresh)" data-toggle="tooltip" data-placement="top" title="@Html.Raw(Resources.Resources.Refresh)">
											<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
										</button>
									</td>
									<td>
										<span class="label label-info" style="visibility: hidden; margin-left: 8px;" id="warning"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		@Html.Partial("Tags")
		<div class="panel-footer">
			@Html.Partial("BottomHomeButton")
		</div>
	</div>
@* ReSharper restore UnknownCssClass *@
}
