@model SocialApps.Models.BudgetModel

@{
	ViewBag.Title = Resources.Resources.MonthBudgetTitle;
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<script>
	var selectCurrencyUrl = '@Url.Action("SelectCurrency", "Mobile")';
</script>

@* ReSharper disable UnknownCssClass *@
@using (Html.BeginForm("MonthBudget", "Mobile"))
{
	@Html.Hidden("Month", Model.Month)
	@Html.Hidden("Year", Model.Year)

	<div class="panel panel-primary">
		<div class="panel-heading">
			<table style="width: 100%;">
				<tbody>
					<tr>
						<td style="width: 1%;">
							<div style="white-space: nowrap;">
								@Html.Partial("TopHomeButton")
							</div>
						</td>
						<td>
							<div id="ellipsisOwner">
								<div class="ellipsisInner" id="ellipsisInner">
									<span class="ellipsis">
										@Html.Raw(ViewBag.Title)
									</span>
								</div>
							</div>
						</td>
						<td style="width: 1%;">
							@if (Model != null)
							{
								var dt = new DateTime(Model.Year, Model.Month, 1);
								<div style="text-align: center; vertical-align: central;">
									<span class="badge pull-right" style="margin-left: 8px;">@Html.Raw(@dt.ToString("MMM yyyy"))</span>
								</div>
							}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-9">
					<table class="table">
						<tbody>
							@* https://www.evernote.com/shard/s132/nl/14501366/47e64199-5c58-43a1-9d0d-9d3081811def *@
							@if (ViewBag.Rest != null)
							{
								<tr>
									<td>
										@Html.Raw(Resources.Resources.Rest)
									</td>
									<td>
										@Html.Raw(Math.Floor((decimal)ViewBag.Rest).ToString())
									</td>
									<td>
										@Html.Raw(Math.Floor((decimal)ViewBag.RestPercent).ToString() + " %")
									</td>
								</tr>
							}
							@if (ViewBag.Overdraft != null)
							{
								<tr>
									<td>
										@Html.Raw(Resources.Resources.Overdraft)
									</td>
									<td>
										@Html.Raw(Math.Floor((decimal)ViewBag.Overdraft).ToString())
									</td>
									<td>
										@Html.Raw(Math.Floor((decimal)ViewBag.OverdraftPercent).ToString() + " %")
									</td>
								</tr>
							}
						</tbody>
					</table>

					<div class="editor-label">
						@Html.LabelFor(m => m.Budget, Resources.Resources.Budget)
					</div>
					<div class="editor-field">
						@Html.TextBoxFor(m => m.Budget)
						@Html.ValidationMessageFor(m => m.Budget)
					</div>
					<br/>
					<div class="editor-label">
						@Html.LabelFor(model => model.Currency, Resources.Resources.Currency)
					</div>
					<div style="white-space: nowrap;">
						<div class="editor-field btnEditorField" style="display: inline-block;">
							@Html.TextBoxFor(model => model.Currency)
							@*Html.ValidationMessageFor(model => model.Currency)*@
						</div>
						<div style="display: inline-block;">
							<button type="button" class="btn btn-default tooltipButton" aria-label="@Html.Raw(Resources.Resources.SelectCurrency)" onclick="onSelectCurrencyClick();" data-toggle="tooltip" data-placement="top" title="@Html.Raw(Resources.Resources.SelectCurrency)">
								<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
							</button>
						</div>
					</div>

					<div style="margin-top: 16px; margin-bottom: 16px;">
						<button type="submit" class="btn btn-default" aria-label="@Html.Raw(Resources.Resources.Setup)">@Html.Raw(Resources.Resources.Setup)</button>
					</div>
				</div>
				<div class="col-md-3">
					<div>
						<div style="display: inline-block;">
							<div class="panel panel-default">
								<div class="panel-heading">@Html.Raw(Resources.Resources.AnotherMonth)</div>
								<div class="panel-body">
									<div class="month_calendar" id="month_calendar_0"></div>
								</div>
							</div>
						</div>
						<div>
							<table>
								<tbody>
									<tr>
										<td></td>
										<td style="text-align: left;">
											<span class="label label-info" style="visibility: hidden; margin-left: 8px;" id="warning"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		@Html.Partial("Advertising")
		<div class="panel-footer">
			@Html.Partial("BottomHomeButton")
		</div>
	</div>
	@* ReSharper restore UnknownCssClass *@
}
