@using SocialApps.Models

@model SocialApps.Models.IncomeModel

@{
	ViewBag.Title = Resources.Resources.MonthIncomeTitle;
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@* https://action.mindjet.com/task/14502449 *@
@Html.Hidden("Month", Model.Month)
@Html.Hidden("Year", Model.Year)

@* ReSharper disable UnknownCssClass *@
@* https://www.evernote.com/shard/s132/nl/14501366/e9be060a-5343-47e7-9441-65cbb5c80f60 *@
	<div class="panel panel-primary">
		<div class="panel-heading">
			<table style="width: 100%;">
				<tbody>
					<tr>
						<td style="width: 1%;">
							<div style="white-space: nowrap;">
								@Html.Partial("TopHomeButton")
							</div>
							<button type="button" class="btn btn-default" aria-label="New income" onclick="window.location.href='@Url.Action("SelectIncome", "Mobile")';">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
						</td>
						<td>
							<div id="ellipsisOwner">
								<div class="ellipsisInner" id="ellipsisInner">
									<span class="ellipsis">
										@Html.Raw(ViewBag.Title)
									</span>
								</div>
							</div>
						</td>
						<td style="width: 1%;">
							@if (Model != null)
							{
								var dt = new DateTime(Model.Year, Model.Month, 1);
								var text = dt.ToString("MMM yyyy");
									
								<div style="text-align: center; vertical-align: central;">
									<span class="badge pull-right" style="margin-left: 8px;">@text </span>
								</div>
							}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-9">
					<table class="table">
						<thead>
							<tr>
								<td>@Html.Raw(Resources.Resources.Currency)</td>
								<td>@Html.Raw(Resources.Resources.Income)</td>
								<td>@Html.Raw(Resources.Resources.Spent)</td>
								<td>@Html.Raw(Resources.Resources.BalanceTitle)</td>
							</tr>
						</thead>
						<tbody>
							@* 
								https://www.evernote.com/shard/s132/nl/14501366/47e64199-5c58-43a1-9d0d-9d3081811def
								https://action.mindjet.com/task/14915101
							*@
							@foreach (var b in (MonthBalance[])ViewBag.Balances)
							{
								<tr>
									<td>
										@Html.Raw(b.Currency)
									</td>
									<td>
										@Html.Raw(Math.Floor(b.SumIncomes).ToString())
									</td>
									<td>
										@Html.Raw(Math.Floor(b.SumExpenses).ToString())
									</td>
									<td>
										@Html.Raw(Math.Floor(b.SumIncomes - b.SumExpenses).ToString())
									</td>
								</tr>
							}
						</tbody>
					</table>

					<div style="margin-top: 8px;">
						@if (ViewBag.TodayExpenses != null)
						{
							@Html.Partial("IncomeAccordion")
						}
					</div>
				</div>
				<div class="col-md-3">
					<div style="display: inline-block;">
						<div class="panel panel-default">
							<div class="panel-heading">@Html.Raw(Resources.Resources.AnotherMonth)</div>
							<div class="panel-body">
								<div class="month_calendar" id="month_calendar_0"></div>
							</div>
						</div>
					</div>
					<div>
						<table>
							<tbody>
								<tr>
									<td>
										@* https://www.evernote.com/shard/s132/nl/14501366/e9be060a-5343-47e7-9441-65cbb5c80f60 *@
										<button type="button" class="btn btn-default" aria-label="@Html.Raw(Resources.Resources.Refresh)" onclick="window.location.href='@Url.Action("MonthIncome", "Mobile")' + getYearMonthAsParams();">
											<span class="glyphicon glyphicon-refresh" aria-hidden="true">
											</span>
										</button>
									</td>
									<td style="text-align: left;">
										<span class="label label-info" style="visibility: hidden; margin-left: 8px;" id="warning"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		@Html.Partial("Tags")
		<div class="panel-footer">
			@Html.Partial("BottomHomeButton")
		</div>
	</div>
@* ReSharper restore UnknownCssClass *@
