@using SocialApps.Controllers
@model SocialApps.Models.NewExpense

@{
	ViewBag.Title = Resources.Resources.NewIncomeTitle;
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<script>
	var selectCurrencyUrl = '@Url.Action("SelectCurrency", "Mobile")';
</script>

@* ReSharper disable UnknownCssClass *@
@Html.ValidationSummary(true)

	<div class="panel panel-primary">
		<div class="panel-heading">
			<table style="width: 100%;">
				<tbody>
					<tr>
						<td style="width: 1%;">
							<div style="white-space: nowrap;">
								@Html.Partial("TopLockIcon")
								@Html.Partial("TopHomeButton")
							</div>
						</td>
						<td>
							<div id="ellipsisOwner">
								<div class="ellipsisInner" id="ellipsisInner">
									<span class="ellipsis" id="@Html.Raw(Model.ExpenseId)">@Html.Raw(ViewBag.Title)</span>
								</div>
							</div>
						</td>
						<td style="width: 1%;">
							<span class="badge pull-right" style="margin-left: 5px;">@Html.Raw(MobileController.TotalsToStringSession(ViewContext.Controller))</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel-body">
			<div class="row">
				@using (Html.BeginForm("NewIncome", "Mobile", FormMethod.Post, new { id = "NewExpense" }))
				{
					@Html.Hidden("Day", Model.Day)
					@Html.Hidden("Month", Model.Month)
					@Html.Hidden("Year", Model.Year)
					@Html.Hidden("Hour", Model.Hour)
					@Html.Hidden("Min", Model.Min)
					@Html.Hidden("Sec", Model.Sec)
					@Html.Hidden("StartYear", Model.StartYear)
					@Html.Hidden("StartMonth", Model.StartMonth)
					@Html.Hidden("EndYear", Model.EndYear)
					@Html.Hidden("EndMonth", Model.EndMonth)
					@* https://www.evernote.com/shard/s132/nl/14501366/5ea53405-2fc4-4166-a9e3-e918f3583785 *@
					@Html.Hidden("EncryptedName", Model.EncryptedName)
					
					<div class="col-md-6" style="margin-bottom: 8px;">

						<ul class="nav nav-tabs">
							<li class="active"><a href="#expense" data-toggle="tab">@Html.Raw(Resources.Resources.Expense)</a></li>
							<li><a href="#note" data-toggle="tab">@Html.Raw(Resources.Resources.Note)</a></li>
							<li><a href="#repeat" data-toggle="tab">@Html.Raw(Resources.Resources.Repeat)</a></li>
							<li><a href="#project" data-toggle="tab">@Html.Raw(Resources.Resources.URL)</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane fade in active" id="expense" style="margin-top: 8px;">
								<div style="text-align: left;">
									<div style="display: inline-block; margin-top: 8px;">
										<table>
											<tbody>
												@Html.Partial("ExpenseName")
												@Html.Partial("IncomeAmount")
												@Html.Partial("ExpenseCurrency")
											</tbody>
										</table>
									</div>

									<div style="display: inline-block; margin-top: 8px; vertical-align: top;">
										<div style="display: inline-block;">
											<div class="panel panel-default" style="white-space: normal;">
												<div class="panel-heading">@Html.Raw(Resources.Resources.Date)<span class="label label-warning" style="visibility: hidden; margin-left: 8px;" id="warning"></span></div>
												<div class="panel-body">
													<div class="single"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="note">
								<div style="text-align: left;">
									@Html.Partial("ExpenseNote")
								</div>
							</div>

							<div class="tab-pane fade" id="repeat">
								<div style="text-align: left;">
									<div style="display: inline-block; margin-top: 8px;">
										<div class="editor-label">
											@Html.LabelFor(model => model.Monthly, Resources.Resources.Monthly)
										</div>
										<div class="editor-field">
											@Html.CheckBoxFor(model => model.Monthly)
										</div>

										<div class="panel panel-default" style="margin-top: 16px;">
											<div class="panel-heading">@Html.Raw(Resources.Resources.FirstMonth)&nbsp;<span class="label label-info" style="visibility: hidden; margin-left: 8px;" id="start_month"></span></div>
											<div class="panel-body">
												<div class="start_month_calendar"></div>
											</div>
										</div>
									</div>
									<div style="display: inline-block; margin-top: 8px;">
										<div class="editor-label">
											@Html.LabelFor(model => model.Forever, Resources.Resources.Forever)
										</div>
										<div class="editor-field">
											@Html.CheckBoxFor(model => model.Forever)
										</div>

										<div class="panel panel-default" style="margin-top: 16px;">
											<div class="panel-heading">@Html.Raw(Resources.Resources.LastMonth)&nbsp;<span class="label label-info" style="visibility: hidden; margin-left: 8px;" id="end_month"></span></div>
											<div class="panel-body">
												<div class="end_month_calendar"></div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="project">
								<div style="text-align: left;">
									@Html.Partial("ExpenseProject")
								</div>
							</div>
						</div>

						<hr />
						<div>
							<button type="button" class="btn btn-default" aria-label="@Html.Raw(Resources.Resources.Add)" onclick="encryptData('Name', 'EncryptedName'); document.forms['NewExpense'].submit(); return true;">
								<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>&nbsp;@Html.Raw(Resources.Resources.Add)
							</button>
						</div>
					</div>
				}					

				<div class="col-md-6">
					@Html.Partial("UploadExpenseDocsForm")
				</div>
			</div>
		</div>
		@Html.Partial("Tags")
		<div class="panel-footer">
			@Html.Partial("BottomHomeButton")
		</div>
	</div>
}
@* ReSharper restore UnknownCssClass *@
