@{
	ViewBag.Title = SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ReportsTitle");
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
@* ReSharper disable UnknownCssClass *@
<div class="panel panel-primary">
	<div class="panel-heading">
		<table style="width: 100%;">
			<tbody>
				<tr>
					<td style="width: 1%;">
						<div style="white-space: nowrap;">
							@Html.Partial("TopHomeButton")
						</div>
					</td>
					<td>
						<div id="ellipsisOwner">
							<div class="ellipsisInner" id="ellipsisInner">
								<span class="ellipsis">
									@Html.Raw((string)ViewBag.Title)
								</span>
							</div>
						</div>
					</td>
					<td style="width: 1%;"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-body">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation">@Html.ActionLink(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ReportTop")10Categories, "Top10", "Mobile")</li>
			<li role="presentation">@Html.ActionLink(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ReportImportance"), "Importance", "Mobile")</li>
			<li role="presentation">@Html.ActionLink(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ReportBalance"), "Balance", "Mobile", new { lastMonthNumber = 12 }, null)</li>
			<li role="presentation">@Html.ActionLink(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ReportTrendOverall"), "Trend", "Mobile", new { lastMonthNumber = 12 }, null)</li>
			<li role="presentation">@Html.ActionLink(SocialApps.Repositories.MobileRepository.GetLocalizedResourceString("ReportTrendByCategory"), "TrendByCategory", "Mobile", new { lastMonthNumber = 12 }, null)</li>
		</ul>
	</div>

	<div class="panel-footer">
		@Html.Partial("BottomHomeButton")
	</div>

	@Html.Partial("Advertising")
</div>
@* ReSharper restore UnknownCssClass *@
