@using SocialApps.Controllers

@{
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@*Ширина и высота устанавливаются по контейнеру.*@
@* ReSharper disable UnknownCssClass *@
<div class="@Html.Raw("panel " + (ViewBag.AddReceipt ? "panel-warning" : "panel-primary"))">
	<div class="panel-heading" id="caption">
		<table style="width: 100%;">
			<tbody>
				<tr>
					<td style="width: 110px;">
						<div style="white-space: nowrap; display: inline-block;">
							<div class="btn-group">
								@Html.Partial("TopLockIcon")
								@Html.Partial("TopHomeButton")
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
									<span class="sr-only"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#" onclick="encryptList('.unencrypted', function (s) { $.post('@Url.Action("UpdateCategories", "Mobile")?categoryList=' + s); });">@Html.Raw(Resources.Resources.EncryptAll)</a></li>
								</ul>
							</div>
							<button type="button" class="btn btn-default" aria-label="@Html.Raw(Resources.Resources.NewCategoryTitle)" onclick="window.location.href='@Url.Action("NewCategory", "Mobile")';">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
						</div>
					</td>
					<td>
						<div id="ellipsisOwner">
							<div class="ellipsisInner" id="ellipsisInner">
								<span class="ellipsis">
									@Html.Raw(Resources.Resources.SelectCategoryTitle)
								</span>
							</div>
						</div>
					</td>
					<td style="width: 1%;">
						<span class="badge pull-right" style="margin-left: 5px;">@Html.Raw(MobileController.TotalsToStringSession(ViewContext.Controller))</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-body" id="framecontainer" style="position: relative;">
		<div class="page-content">
			<div class="page-content">
				@Html.Partial("SelectCategoryList")
				@Html.Partial("FullListButton")
			</div>
			@Html.Partial("Jumbotron")
			@Html.Partial("ProgressBar")
		</div>
	</div>
	@Html.Partial("Advertising")
	<div class="panel-footer">
		@Html.Partial("BottomHomeButton")
		<button type="button" class="btn btn-default" aria-label="@Html.Raw(Resources.Resources.NewCategoryTitle)" onclick="window.location.href='@Url.Action("NewCategory", "Mobile")';">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
		@Html.Partial("BottomAddInfo")
	</div>
</div>
@* ReSharper restore UnknownCssClass *@
