@using System.Globalization
@using SocialApps.Models
@using System.Web.Security.AntiXss

@* ReSharper disable UnknownCssClass *@
@{
	var list = (EstimatedCategoriesByUser4_Result[])ViewBag.CategoryIds;
	if (list.Count() != 0)
	{
		@* https://www.evernote.com/shard/s132/nl/14501366/748e493d-9338-41b0-adfb-a9b40cbdb4dd *@
		<table class="sorted table">
			<tbody>
				<tr>
					<th></th><th>@Html.Raw(Resources.Resources.Category)</th><th>@Html.Raw(Resources.Resources.Budget)</th>
				</tr>
				@for (var index = 0; index < list.Count(); index++)
				{
					var cat = list[index];
					var categoryId = cat.ID.ToString();
					if (cat.NAME.Trim().IsEmpty())
					{
						continue;
					}
					//	https://www.evernote.com/shard/s132/nl/14501366/4bc52f46-5b79-4788-824d-f3a4b0e9fad3
					//	By default the color is unchanged.
					//	https://www.evernote.com/shard/s132/nl/14501366/f5b79ea0-10c5-4b6d-ae26-f00858ffa936
					var itemClass = "progress-bar";
					if (cat.Limit != null)
					{
						switch (cat.Estimation.ToLower())
						{
							case ("mayexceed"):
								itemClass = "progress-bar progress-bar-warning";
								break;

							case ("exceed"):
								itemClass = "progress-bar progress-bar-danger";
								break;

							case ("notexceed"):
								itemClass = "progress-bar progress-bar-success";
								break;
						}
					}
					var percent = cat.Limit != null && cat.Total != null && Math.Floor((double)cat.Limit) != 0 ? Math.Floor((double)cat.Total * 100.0 / (double)cat.Limit) : 0;
					var classId = (cat.EncryptedName != null && cat.EncryptedName != string.Empty) ? "encrypted" : "unencrypted";

					@* https://www.evernote.com/shard/s132/nl/14501366/f403d09e-519b-4121-b3d8-b38d476fe462 *@
					<tr class="trlist" onclick="window.location.href = '@Url.Action("SelectCategoryF", "Mobile", new { categoryIds = cat.ID })';" id="@Html.Raw("tr" + categoryId)">
						<td style="vertical-align: middle; width: 85px;">
							<div style="white-space: nowrap; display: inline-block;">
								<div class="btn-group">
									<button type="button" class="btn btn-default"
											onclick="window.location.href='@Url.Action("EditCategory", "Mobile", new { categoryId = cat.ID })'; if(event.stopPropagation) event.stopPropagation(); else event.cancelBubble=true;">
										<span class="glyphicon glyphicon-edit"></span>
									</button>
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
										<span class="sr-only"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#" onclick="window.location.href='@Url.Action("DeleteCategory", "Mobile", new { categoryId = cat.ID })';">@Html.Raw(Resources.Resources.Delete)</a></li>
									</ul>
								</div>
							</div>
						</td>
						<td style="vertical-align: middle;">
							<div style="@Html.Raw(ViewBag.CategoryId != null && (int)ViewBag.CategoryId == cat.ID ? "font-size: large;" : "")" id="@Html.Raw(categoryId)" class="@Html.Raw(classId)">
								@Html.Raw(AntiXssEncoder.HtmlEncode(cat.NAME.Trim(), false))
							</div>
							@if (cat.EncryptedName != null && cat.EncryptedName != string.Empty)
							{
								<script>
									@* https://www.evernote.com/shard/s132/nl/14501366/f403d09e-519b-4121-b3d8-b38d476fe462 *@
									(function () { decryptListData('@Html.Raw(categoryId)', '@Html.Raw(cat.EncryptedName)') })();
								</script>
							}
							<div class="progress" style="margin-bottom: 0;">
								<div class="@Html.Raw(itemClass)" role="progressbar" aria-valuenow="@Html.Raw(percent)" aria-valuemin="0" aria-valuemax="100" style="width: @Html.Raw(percent < 100 ? percent : 100)%;">
									@Html.Raw(percent)%
								</div>
							</div>
						</td>
						<td style="vertical-align: middle; width: 1%;">
							<div>
								@Html.Raw(cat.Limit != null ? Math.Floor((float)cat.Limit).ToString(CultureInfo.InvariantCulture) : "NA")
							</div>
							<div style="font-size: xx-small; text-align: right; font-style: italic;">
								@Html.Raw(
									(cat.Total != null ? Math.Floor((float)cat.Total).ToString(CultureInfo.InvariantCulture) : "0") +
									(cat.Currency != string.Empty ? " " + cat.Currency : ""))
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
}
@* ReSharper restore UnknownCssClass *@
