@model SocialApps.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = Resources.Resources.Registration;
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@* ReSharper disable UnknownCssClass *@
<div class="panel panel-primary">
    <div class="panel-heading">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td>
						@Html.Partial("TopHomeButton")
                    </td>
                    <td style="width: 100%; text-align: center;">
                        @Html.Raw(ViewBag.Title)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-body">
        <h3>@Html.Raw(string.Format(Resources.Resources.AccountConnectWithYour, ViewBag.LoginProvider))</h3>

        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <h4>@Html.Raw(Resources.Resources.AccountConnectionForm)</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p class="text-info">@Html.Raw(Resources.Resources.AccountYouSuccessfullyPassed)</p>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
					<input type="submit" class="btn btn-default" value="@Html.Raw(Resources.Resources.Registration)" />
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
    <div class="panel-footer">
        <div class="btn-group" role="group">
			@Html.Partial("BottomHomeButton")
        </div>
    </div>
</div>
@* ReSharper restore UnknownCssClass *@
