@using SocialApps.Models
@model LoginViewModel
@{
    ViewBag.Title = Resources.Resources.Login;
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";    
}

@* ReSharper disable UnknownCssClass *@
<div class="panel panel-primary">
    <div class="panel-heading">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td>
						@Html.Partial("TopHomeButton")
                    </td>
                    <td style="width: 100%; text-align: center;">
                        @Html.Raw(ViewBag.Title)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>@Html.Raw(Resources.Resources.Login)</h4>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, Resources.Resources.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, Resources.Resources.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, Resources.Resources.AccountRememberMe)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@Html.Raw(Resources.Resources.Login)" class="btn btn-default" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink(Resources.Resources.AccountSignUp, "Register")
                        </p>
                        @* Включите, когда будет включено подтверждение учетной записи для функции сброса пароля
						<p>
							@Html.ActionLink(Resources.Resources.AccountForgotPassword, "ForgotPassword")
						</p>*@
                    }
                </section>
            </div>
            <div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
    <div class="panel-footer">
        <div class="btn-group" role="group">
			@Html.Partial("BottomHomeButton")
        </div>
    </div>
</div>
@* ReSharper restore UnknownCssClass *@
